    .body{
    padding: auto;
    margin: 0%;
    
}

.cabeçalho{

    background-color: black;
    margin:5%;
    padding: center;
    text-align: center;
    color: white;
}

.informações{

    background-color: khaki;
    margin: 5%;
    padding: 10px;
    text-align: center;
}

.imagem{
    width: 25%;
}


